<!DOCTYPE html>
<html>
    <head>
        <title>ABOUT</title>
        <link rel="icon" href = "/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css" >
    </head>
    <br>
    <body>
        <div class = "content">
        {{>header}}
        <p>This is a weather website made by Dev Rattan and it uses mapbox api</p>
        <img class = "landscape" src = '/img/img.jpg'>
        <br>
        </div>
         {{>footer}}
    </body>
</html>