<!DOCTYPE html>
<html>
    <head>
        <title>HELP</title>
        <link rel="stylesheet" href="/css/styles.css" >
    </head>
     
    <br>
    <body>
        <div class="content">
        {{>header}}
        <p>{{paragraph}}</p>
        </div>
        {{>footer}}
    </body>
</html>